.container {
  display: grid;
  gap: 1%;
  grid-template-columns: auto auto auto;
  padding: 2%;
}

.container > div {
  padding: 5%; 
  font-size: 30px;
  text-align: center;
}

#mistake{
    color: red;
    font-style: italic;
}

.image-wrap { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.image-wrap > span { 
   position: absolute; 
   top: 175px; 
   left: 0; 
   width: 100%; 
   display:block;
}
